<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>
    <%= readmeValue.title || "Classworks 服务端" %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <h1>
    <%= readmeValue.title || "Classworks 服务端" %>
  </h1>

  <div class="readme-content">
    <pre><%= readmeValue.readme %></pre>
  </div>

</body>

</html>